* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  overflow: hidden;
  background-color: #00bcd4;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo-img {
  color: #FFF;
}
