.sidebar {
  display: flex;
  flex-direction: row;
}

.sidenav {
  background-color: #2c3e50;
  color: #FFF;
  min-height: 100vh;
  padding: 0px;
}

.content {
  flex: 1;
  padding: 10px;
}

.sidenav-xs {
  width: 110px;
}
