.background {
  min-height: 100vh;
  background-image: url("../../../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.login-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.login-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
  border-radius: 5px;
}

.login-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.has-feedback {
  position: relative;
}
.form-group {
  margin-bottom: 15px;
}
