* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  overflow: hidden;
  background-color: #00bcd4;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header a:hover {
  color: black;
}

.header a.active {
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.logo-img {
  color: #FFF;
}

.logo > h1 {
  font-size: 20px;
}

.reorder {
  background-color: #00bcd4;
  color: #FFF;
  float: left;
  background-image: none;
  padding: 15px 15px;
  border: none;
}

.reorder:focus {
  outline: none;
}

.reorder:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
